.block.block-secondary#get-started
  hr
  .container-fluid
    .row.app-align-center
      .col-xs-12.col-md-2.pull-left(style="margin: 10px 0")
        img(src='/images/logo.png', style="width:70px;margin-top:-12px;")
      .col-xs-12.col-md-10.pull-right.text-right
        #ajaxmessage
        from.form-inline(action="https://nxavmsf4n5.execute-api.eu-west-1.amazonaws.com/prod/floWebsiteMessage", method="POST")
          span.hidden-sm.hidden-xs(style="margin-left:5px;") Chat to us about how we can help your business to Flo
          input.form-control.email(type='email', placeholder='Business email', name="email" style="margin:10px 0 10px 5px;")
          button.btn.btn-primary(type='submit' style="margin:10px 0 10px 5px;")  Get Started
  hr
