.block.block-secondary.p-t-0
  .container
    .row.app-align-center
      .col-sm-6.img-left
        img.do-animate-on-scroll(data-target-animation="fadeInLeft" src="/images/flo_track.png" style="max-height:500px;")
      .col-sm-5.col-sm-offset-1
        h6.text-muted.text-uppercase Operational excellence 
        h3.m-t-0 
          | Track every stage of content preparation and creation
        p.lead.m-b-md.text-muted
          | Know exactly what stage of delivery any piece of content is in, at any time. See who worked on what and when. Asses the performance of every part of your delivery chain.