.block.block-secondary
  .container
    .row.app-align-center
      .col-sm-6.img-left
        img.do-animate-on-scroll(data-target-animation="fadeInLeft" src="/images/task_manager.png")
      .col-sm-5.col-sm-offset-1
        h6.text-muted.text-uppercase Simple-to-use task manager
        h3.m-t-0 
          | Complete clarity on jobs to be done.
        p.lead.m-b-md.text-muted
          | Everyone knows exactly what to work on, when it’s due and the priority level.