.block.block-secondary.p-t-0
  .container
    .row.app-align-center
      .col-sm-6.img-left
        img.do-animate-on-scroll(data-target-animation="fadeInLeft" src="/images/task_manager.png" style="max-height:500px;")
      .col-sm-5.col-sm-offset-1
        h6.text-muted.text-uppercase Closer integration with partners and vendors
        h3.m-t-0 
          | Seamlessly integrate external partners into your workflows 
        p.lead.m-b-md.text-muted
          |  Integrate your external partners directly into your workflows. Manage their priorities in the same way you do for your internal teams. Asses and monitor their performance against SLA’s and KPI’s.