.block.block-secondary.p-t-0
  .container
    .row.app-align-center
      .col-sm-7
        img.do-animate-on-scroll.block-img(data-target-animation="fadeInLeft" src="/images/report.png")
      .col-sm-5
        h6.text-primary.text-uppercase.o-70 INSIGHTS
        h3.m-t-0
          | Reports that matter
        p.lead.m-b-md
          | Realtime reporting of content availability. Flo automatically forecasts delivery dates and team workload for you. You can focus on producing great content, instead of giving status updates.
