.block.block-secondary.p-t-0
  .container
    .row.app-align-center
      .col-sm-7.col-sm-push-5
        img.do-animate-on-scroll(data-target-animation="fadeInRight" src="/images/flo_report.png" style="max-height:500px;")
      .col-sm-5.col-sm-pull-7
        h6.text-muted.text-uppercase Valuable and insightful reports
        h3.m-t-0
          | Report in realtime on content readiness
        p.lead.m-b-md.text-muted
          | Get clear, accurate and realtime reports on your current content readiness for your e-commerce site, plus your 3rd party sales channels.
