.block.client-stories.m-b-0.p-y-md
  .container
    .row.app-align-center
      .col-sm-12.text-center
        //- h6.text-primary.o-70.text-uppercase Keeping busy
        h3
          | Are you ready to flo?
    .row.app-align-center
      .col-sm-12.col-lg-8.col-sm-push-2.text-center
        a.btn.btn-primary.btn-lg(href="") Book a demo
    .row
      .col-sm-12.text-center.m-t-md
        | Mon to Fri &middot; 10:30 am to 17:30 pm &middot; online or in person
