.block.m-b-0.p-y-md.gray-block-bg
  .container
    .row.app-align-center
      .col-xs-12.text-center
        //- h6.text-primary.o-70.text-uppercase Keeping busy
        h3
          | Are you ready to flo?
    .row.app-align-center
      .col-xs-12.col-lg-8.col-lg-push-2.text-center
        a.btn.btn-primary.btn-lg.flo-btn(href="https://calendly.com/letsflo/15min") Book a demo
    .row
      .col-xs-12.text-center.m-t-md
        | Mon to Fri &middot; 10:30 am to 17:30 pm &middot; online or in person
