!= partial('_comp/nav/sidebar')
#stage.stage
  .welcome-block
    .bg-image
      .fs-bg
    .block.app-header
      != partial('_comp/nav/top')
      != partial('_comp/home/welcome/index')

  != partial('_comp/home/workflows/index')
  != partial('_comp/home/reporting/index')
  != partial('_comp/home/automate/index')
  != partial('_comp/home/stats/index')
  != partial('_comp/home/on-boarding/index')
  != partial('_comp/home/demo/index')
  != partial('_comp/home/contact/index')
  != partial('_comp/footer/index')
