.block.block-secondary.p-b-0.m-b-0#do-more
  .container
    .row.app-align-center
      .col-sm-6.col-sm-offset-3.text-center
        h6.text-muted.text-uppercase Do more, in less time.
        h3.m-t-0 Schedule and track the delivery of Images, Video, Copy, Products and Documents across your entire product range. <br />All in one place.
        p.lead.m-b-lg
          //| Flo is the smartest solution to coordinate multiple people and teams around content creation.