.block.block-secondary.p-t-0.gray-block-bg
  .container
    .app-align-center
      .row
        .col-sm-5
          .text-cont
            h6.text-primary.text-uppercase.o-70 Getting started
            h3.m-t-0
              | Easy peasy on-boarding
            p.lead.m-b-md
              | Flo comes fully set up and ready for you to use. We will import all your data for you and customise any workflow, so they are just the way you need them.
        .col-sm-7.text-right.hidden-xs
          img.block-img.do-animate-on-scroll(data-target-animation="fadeInRight" src="/images/onboarding.png")
        .col-xs-12.text-center.hidden.visible-xs
          img.block-img.do-animate-on-scroll(data-target-animation="fadeInRight" src="/images/onboarding.png")

