.block.client-stories.m-b-0.p-b-0
  .container
    .row.app-align-center
      .col-sm-8.col-sm-offset-2.text-center
        h6.text-muted.text-uppercase Designed to make you deliver
        h3
          | Powerful features, robust and secure. Flo adapts to your way of working - not the other way round.
    .row.app-align-center
      .col-sm-10.col-sm-offset-1.text-center
        .row.m-t-md
          .col-sm-4
            p.m-b-md.text-muted
              | Integrate seamlessly with your current tools, such as SAP, Excel, SQL, legacy databases, SSO and many more.
            img.visible-xs.do-animate-on-scroll(data-target-animation="fadeInUp" src="/images/graph.png" style="max-width:100%;")
          .col-sm-4
            p.m-b-md.text-muted
              | Powerful search and filtering gets you to the details that matter, in seconds.
            img.visible-xs.do-animate-on-scroll(data-target-animation="fadeInUp" src="/images/search.png" style="max-width:100%;")
          .col-sm-4
            p.m-b-md.text-muted
              | Always available, even on the move. Flo loves mobile and thrives in the challenging and high-paced world of content creation.
            img.visible-xs.do-animate-on-scroll(data-target-animation="fadeInUp" src="/images/mobile.png" style="max-width:100%;")
        .row.m-t-md.app-align-center.hidden-xs
          .col-sm-4
            img.do-animate-on-scroll(data-target-animation="fadeInUp" src="/images/graph.png" style="max-width:100%;")
          .col-sm-4
            img.do-animate-on-scroll(data-target-animation="fadeInUp" src="/images/search.png" style="max-width:100%;")
          .col-sm-4
            img.do-animate-on-scroll(data-target-animation="fadeInUp" src="/images/mobile.png" style="max-width:100%;")
