.block.stats.m-b-0.p-y-md
  .container-fluid
    .row.app-align-center
      .col-sm-12.text-center
        h6.text-primary.o-70.text-uppercase Keeping busy
        h3
          | In the last 3 months, Flo has helped deliver
    .row
      .col-sm-12.col-lg-10.col-lg-push-1.text-center
        .row.m-t-md
          .col-sm-3
            .statcard
              .ribbon.green.text-left
                .statcard-desc Images
              h3.statcard-number.text-right 9,557
          .col-sm-3
            .statcard
              .ribbon.cyan.text-left
                .statcard-desc Photo shoots
              h3.statcard-number.text-right 5,059
          .col-sm-3
            .statcard
              .ribbon.yellow.text-left
                .statcard-desc Samples
              h3.statcard-number.text-right 1,816
          .col-sm-3
            .statcard
              .ribbon.samon.text-left
                .statcard-desc Reshoots
              h3.statcard-number.text-right 186
    .row.app-align-center
      .col-sm-12.text-center.m-t-md
        | (and saved 100's of hours in tedious and repetative admin)
