.block.client-stories.m-b-0.p-y-md
  .container
    .row.app-align-center
      .col-sm-12.text-center
        h6.text-primary.o-70.text-uppercase Keeping busy
        h3
          | In the last 3 months, Flo has helped deliver
    .row.app-align-center
      .col-sm-12.col-lg-8.col-sm-push-2.text-center
        .row.m-t-md
          .col-sm-3
            .statcard
              .ribbon.green.text-left
                .statcard-desc Images
              h3.statcard-number.text-right 9,557
          .col-sm-3
            .statcard
              .ribbon.orange.text-left
                .statcard-desc Photo shoots
              h3.statcard-number.text-right 5,059
          .col-sm-3
            .statcard
              .ribbon.purple.text-left
                .statcard-desc Samples
              h3.statcard-number.text-right 1,816
          .col-sm-3
            .statcard
              .ribbon.blue.text-left
                .statcard-desc Reshoots
              h3.statcard-number.text-right 186
