.block-xs-middle.p-y-lg#welcome
  .container
    .row
      .col-sm-10.col-sm-offset-1
        h1.m-t-lg.block-title.m-b-sm.do-animate(data-target-animation="fadeInUp") The smart solution for studios, agencies and brands who create content, is here.
        a.btn.btn-default.btn-lg.do-animate-with-delay#go-down(href='#do-more' data-target-animation="fadeIn" data-delay="1000") Find out more