.block-xs-middle.p-y-md.p-t-0#welcome(style="display:block;")
  .container
    .row
      .col-sm-12.text-center
        .row
          h1.col-sm-10.col-sm-push-1.block-title.m-b-sm.m-t-md Upgrade your studio workflow
          h2.col-sm-8.col-sm-push-2.m-t-md.block-title.m-b-sm Deliver high-volumes of amazing product content for e-commerce without the stress.
      .col-sm-12.text-center
        img.block-img(src="/images/flo-hero.png")
        .m-t-lg
          .row
            .col-sm-4.col-sm-push-4
              a.btn.btn-primary.p-x-lg.btn-lg(href="#book-demo") Book a demo
