nav.navbar.navbar-transparent.navbar-fixed-top.navbar-padded.app-navbar
  .container
    .navbar-header
      // button.navbar-toggle.collapsed.p-x-0(type='button', data-target='#stage', data-toggle='stage', data-distance='-250')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar

      a.navbar-brand(href='/')
        img(src='/images/logo.png', style="width:70px;margin-top:-12px;")

    .navbar-collapse.collapse.text-uppercase
      ul.nav.navbar-nav.navbar-right(style="margin-top:8px;")
        li
          a.btn.btn-sm.btn-primary(href='/login') Login
