.block.block-secondary.p-t-0.m-t-sm
  .container
    .row.app-align-center
      .col-sm-7.col-sm-push-5.hidden-xs
        img.do-animate-on-scroll(data-target-animation="fadeInRight" src="/images/flo_products.png" style="max-height:500px;")
      .col-sm-5.col-sm-pull-7
        h6.text-muted.text-uppercase Information at your fingertips
        h3.m-t-0 
          | Instantly see your products and delivery statuses
        p.lead.m-b-md.text-muted
          | Search, filter and copy/paste directly from spreadsheets. Instantly know how content ready you are and what is yet to be done across any category or group of products.