.block.block-secondary.p-t-0.m-t-sm.gray-block-bg
  .container
    .row.app-align-center
      .col-sm-5.text-cont
        h6.text-primary.text-uppercase.o-70 Streamline
        h3.m-t-0
          | Your process just got better
        p.lead.m-b-md
          | Set yourself free from spreadsheets. Bring all your data, workflows, images, and copy together in one place. You will always have the right information, right when you need it.
      .col-sm-7.text-right
        img.cont.block-img.do-animate-on-scroll(data-target-animation="fadeInRight" src="/images/process.png")

