.block.block-secondary
  .container
    .row.app-align-center
      .col-sm-7.col-sm-push-5.hidden-xs
        img.do-animate-on-scroll(data-target-animation="fadeInRight" src="/images/workflow.png")
      .col-sm-5.col-sm-pull-7
        h6.text-muted.text-uppercase Digitised workflows
        h3.m-t-0 
          | The home of collaboration
        p.lead.m-b-md.text-muted
          | Source and track samples, schedule photoshoots, assign work to retouchers, take and create briefs, assign to people for quality approval; it’s all easier with Flo.