.block.block-secondary.p-t-0.gray-block-bg
  .container
    .row.app-align-center
      .col-sm-5.text-cont
        h6.text-primary.text-uppercase.o-70 Automate
        h3.m-t-0
          | Track every stage of content preparation and creation
        p.lead.m-b-md
          | Know exactly what stage of delivery any piece of content is in, at any time. See who worked on what and when. Asses the performance of every part of your delivery chain.
      .col-sm-7.text-right
        img.cont.block-img.do-animate-on-scroll(data-target-animation="fadeInRight" src="/images/automate.png")
