.block.block-secondary.p-t-0
  .container
    .row.app-align-center
      .col-sm-7.col-sm-push-5
        img.do-animate-on-scroll(data-target-animation="fadeInRight" src="/images/flo_share_reports.png" style="max-height:500px;")
      .col-sm-5.col-sm-pull-7
        h6.text-muted.text-uppercase Custom shareable reports
        h3.m-t-0
          | Share custom lists of products and realtime delivery statuses with a single click
        p.lead.m-b-md.text-muted
          | Group products into lists and create custom realtime delivery status updates and reports, which can be shared with a single click.
